* {
    box-sizing: border-box;
}

body {
    --bs-body-color: white;

    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #660b1a, #3e135d);
    font-family: Arial, Helvetica, sans-serif;
}

.header-text {
    text-align: center;
}

.navbar {
    border-bottom: 5px solid #0000ad;
    background: linear-gradient(to right, #660b1a, #3e135d);
}

.carousel-item img {
    border: 5px solid #0000ad;
    border-radius: 8px;
    object-fit: cover;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #0000ad;
}

.game-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 70px 0;
    padding: 0 20px;
    gap: 20px;
    justify-items: start;
}

.game-card {
    position: relative;
    display: flex;
    border-style: solid;
    border-color: #c21431;
    background-color: #660b1a;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.game-card:nth-child(2n) {
    border-color: hsl(275, 66%, 42%);
    background-color: #3e135d;
}

.game-card:hover {
    /* color mas claro */
    background-color: #c21431;
    border-color: #fd1b40;
}

.game-card:nth-child(2n):hover {
    background-color: #7724b2;
    border-color: #a92fff;
}

.game-card img {
    width: 200px;
}

.descripcion-juego {
    position: absolute;
    top: 0;
    left: 105%;

    width: 330px;
    padding: 15px;

    background: linear-gradient(to right, #660b1a, #3e135d);
    color: white;

    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 100%);

    z-index: 100;
}

.descripcion-juego.left {
    left: auto;
    right: 105%;
}


.boton {
    display: inline-block;
    background-color: black;
    color: white;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.boton:hover {
    background-color: white;
    color: black;
}

#ver-carrito {
    margin: 0 auto;
    display: block;
}

#contacto {
    margin-top: 20px;
    padding: 20px;
    font-size: large;
    background-color: #00002b;
    text-align: center;
}

#formulario {
    margin: 20px auto;
    padding: 20px;
    font-size: large;
    background: linear-gradient(to top, #660b1a, #3e135d);
    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 100%);
}

#formulario input {
    color: white;
    background-color: #212121;
    border: solid #0000ad 2px;
    border-radius: 8px;
    margin: 10px;
}

#formulario textarea {
    color: white;
    background-color: #212121;
    border: solid #0000ad 2px;
    border-radius: 8px;
}

@media (max-width: 900px) {

    body {
        font-size: larger;
    }

    #navbar {
        display: flex;
        justify-content: center;
    }
    
    .game-cards {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .game-card {
        width: 90%;
        font-size: larger;
    }

    .game-card img {
        width: 100%;
    }
}

/* Media query para celulares */

@media (max-width: 600px) {

    body {
        font-size: larger;
    }

    #navbar {
        display: flex;
        justify-content: center;
    }

    .game-cards {
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .game-card img {
        width: 100%;
    }
}